/* * {
  border: 1px solid red;
  text-align: center;
  justify-content: center;
} */

img {
  max-width: 80%;
  height: auto;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("dist/assets/aeira-atelier-xQl9hgWIpDY-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}